body{
    background: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    background: white;
    border-radius: 10px;
    margin: 100px;
    overflow: hidden;
    img{
        width: 100%;
    }
}

.card-content{
    padding: 20px;
    text-align: center;
}
.btn{
    display: inline-block;
    background: #007bff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    padding: 10px 16px;
    margin-top: 10px;
}