body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    background: white;
    border-radius: 10px;
    margin: 90px;
    overflow: hidden;
}
img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    clip-path: circle(37%);
    
}
.content{
    text-align: center;
    padding: 10px;
}
#name{
    margin-top: 0px;
}

h4{
    margin-top: -15px;
    margin-bottom: 8px;
}